.titulo__principal {
    padding: 3rem;
    padding-left: 4rem;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    color: #F9B53A;
    text-align: center;
}
.cadastro-cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 1rem;
}

.cadastro-cabecalho__logo {
    width: 2.625rem;
    margin-bottom: 0.5rem;
}

.cadastro-cabecalho__titulo {
    font-family: var(--fonte-familia-logo);
    font-size: var(--fonte-tamanho-logo);
    margin-bottom: 1rem;
}

@media(min-width: 800px) {
    .cadastro-cabecalho__logo {
        width: 5.75rem;
        margin-bottom: 1rem;
    }

    .cadastro-cabecalho__titulo {
        margin-bottom: 2rem;
    }
}
